#Header_Main_Div {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background: black;
}

#LeftBar_Main_Div {
  top: 0;
  z-index: -1;
  position: fixed;
  padding-top: 70px;
  min-height: 100vh;
  width: 14rem;
  background-color: #f2f6f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#Products_Main_Div {
  position: absolute;
  top: 5rem;
  left: 15rem;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#Cart_Main_Div {
  position: absolute;
  right: 2rem;
}

#Cart_Card_Wrapper {
  gap: 30px;
  display: flex;
  flex-direction: column;
}

#Product_Cart_Card {
  display: flex;
  align-items: center;
  box-shadow: 0px 6px 10px rgba(74, 70, 74, 0.414);
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
}

#Product_Cart_Card img {
  width: 50px;
}

#Product_Cart_Card .Cart_Card_Details {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
}

#Cart_Payment_Main_Div {
  margin-top: 3rem;
}